<%- include('partials/header') %>

  <div class="starter-template">
    <h1>Projeto Notícias com controles de acesso</h1>
    <p class="lead">Plataforma com notícias públicas para qualquer usuário, privadas e para administradores</p>
  </div>

<%- include('partials/footer') %>